.header-image {
    display: flex;
    direction: row;
    justify-content: space-around;
    border: 1px solid #000;
}

.business-header,
.dev-header {
    width: 50%;
    height: 600px;
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.business-header {
    background: url('/images/business-bg.jpg') center center;
}

.dev-header {
    background: url('/images/developer-bg.jpg');
    background-position-y: 19%;
    background-size: 100% auto;
}