nav {
    max-height: 60px;
    padding: 0.1rem 1.5rem;
    display: flex;
    direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0
}

.nav-logo,
.nav-links {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    direction: row;
    list-style-type: none;
}

.nav-list li {
    padding-right: 30px;
}

.button-div {
    display: flex;
    direction: row;
    justify-content: flex-end;
}
